{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-proposal-class-properties"],
  "env": {
    "rollup": {
      "plugins": []
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
